*{
    box-sizing: border-box;
}

body{
    max-width: 1920px;
    max-height: 1080px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: hsl(223, 20%, 30%);
}
a{
    text-decoration: none;
}
p{
    font-size: 2vw;
    color: antiquewhite;
    margin-top: 0%;  
    margin-bottom: 0%;
    text-align: center;
}
h1{
    text-align: center;
    color: antiquewhite;
}
h2{
    text-align: center;
    color: antiquewhite;
}
h5{
    color: rgba(104, 112, 109, 0.8);
    font-size: large;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
}

/* ------------------------- */
.navbar{
  display: flex;
  background-color: hsl(156, 4%, 20%); 
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  max-height: 10%;
  max-width: 100%; /* TODO: need to add media tags for responsive design */
  flex-wrap: wrap;
  border-radius: 6px;
}
.navbar li{
  list-style-type: none;
}

#iconDisplayRoot{
    max-width: 10%;
    max-height: fit-content;
    
}
/* An image element, reshaped to a perfect circle */
#iconDisplay{
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #68706d;
}
.navBarOption{
    padding: 1% 1%;
    /* margin: 2% 2.5% 2.5% 0%; */

}
.navBarOption p{
    display: block;
    background-color: #68706d;
    border: 4px solid #68706d;
    border-radius: 10%;
}
@media screen and (max-width: 800px){
    .navBarOption p{
        border: 2px solid #68706d;
        font-size: 3vw;
    }
    
}
.navBarOption p:hover{
    background-color: hsl(157, 4%, 35%);
    border-color: hsl(157, 4%, 35%);
}
/* TODO: implement more media tags */
/* ---------------------------------------- */

#row1{
    display: flex;
}

#resumeDisplay{
    /* background-color: blue; */
    float: left;
    width: 48%;
    height: 580px;
    max-width: 48%;
    max-height: 100%;
    border: 0px;
    margin: 2% 2%;
}
/* --------------------------------------------------------- */
#formContainer{
    /* display: block; */
    /* float: inline-end; */
    /* float: left; */
    width: 48%;
    max-height: 50%;
    background-color:hsl(156, 4%, 20%);
    margin: 2% 2%;
    padding: 1% 1%;
}
#emailForm{
    margin: 1% 1%;
    text-align: center;
    padding: 2% 2%;
}
#emailContent{
    max-width: 55%;
    max-height: 130px;
}